body {
    width: 1400px;
    margin: auto;
    font-family: 'Raleway', Arial, 'Trebuchet MS', sans-serif;
}

* {
    margin: 0;
}



/* Balise générique */
main {
    margin-left: 50px;
}
h1 {
    font-size: 22px;
}

h2 {
    font-size: 1.1em;
}
 a {
    color: black;
    text-decoration: none;
 }
.card-info h2 {
    font-size: 16px;
}

.grid-1 p,
.grid-2 p {
    font-size: 14px;
}

header, .margin-bottom-left {
    margin-left: 55px;
}


/* HEADER */
header img {
    width: 61px;
    height: 19px;
    margin-top:  44px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 89px;
}
/* Navigation */
nav {
    margin: 0;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav a {
    padding-top: 42px;
}

nav li {
    margin-right: 77px; 
}
nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    font-weight: 500;
}
.margin-bottom-left {
    margin-bottom: 32px;
}
.margin-bottom-left p{
    margin-top: 8px;
    margin-bottom: 20px;
}

/* Recherche */
.search {
    display: flex;
    position: relative;
    width: 464px;
}

.search input[type="submit"] {
    background: #0065FC;
    color: white;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    width: 132px;
    height: 52.50px;
    position: absolute;
    right: 46px;
    font-size: 18px;
    font-weight: 700;   
}

 .position-search input {
    width: 322px;
    height: 49px;
    border-radius: 15px;
    background-color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #F2F2F2;
    outline: none;
 }

 ::placeholder {
    color: black;
 }

.icons-position-search{
    border: 1px solid #F2F2F2;
    background: #F2F2F2;
    padding: 16px 18px 19px 18px;
    border-radius: 15px 0 0 15px;
    position: absolute;
}

/* Filters (form-filters) */
.position-div-filtre {
    display: flex;
    align-items: center;
    position: relative;   
}

.position-div-filtre [value="Économique"],
.position-div-filtre [value="Familial"],
.position-div-filtre [value="Romantique"],
.position-div-filtre [value="Animaux autorisés"] {
    padding: 4px 20px;
    font-weight: 700;
    font-size: 17px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    display: flex;
    justify-content: flex-end;
    background: white;
}

.position-div-filtre [value="Économique"],[value="Romantique"] { 
    width: 175px;
    height: 48px;
}
 .position-div-filtre [value="Familial"] { 
    width: 136px;
    height: 48px;
}

.position-div-filtre [value="Animaux autorisés"] { 
    width: 226px;
    height: 48px;
}

.form-filtre {
    display: flex;
    align-items: center;
    margin-left: 62px;
    margin-bottom: 38px;
}

.form-filtre h2, 
.form-filtre div {
    margin-right: 39px;
}

.position-icons-filtre,
.position-icons-filtre-animaux {
    position: absolute;
    color: #0065FC;
    left: 20px;
}

.position-icons-filtre-familial {
    position: absolute;
    left: 24px;
    color: #0065fc;
}

/* Info logement */
.info-logement {
    display: flex;
    margin-left: 59px;
    margin-bottom: 39px;
}

.icons-info {
    color: white;
    background: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    margin-right: 11px;
}

/* MAIN */
.left-right{
    display: flex;
}

/* LEFT */
.left {
    border-radius: 20px;
    background: #F2F2F2;
    width: 57%;
    padding: 40px;
    margin-right: 40px;
}

.afficher-plus {
    margin-top: 40px;
}

.left h1 {
    margin-bottom: 23px;
}

.grid-1 {
   margin-bottom: 30px;
}

.card {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: black;
}

.card-info {
    padding: 9px 0 11px 16px; 
}
.card-info h2{
    margin-top: 4px;
}

.card-info h2,
.card-info p {
    margin-bottom: 9px;
}


.grid-1, .grid-2 {
    display: grid;
    grid-template-columns: 246px 246px 246px;
    gap: 30px;   
    
}
.card-image {
    width: 236px;
    height: 124px;   
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    border: 5px solid #FFFFFF;
}


/* RIGHT */


.right {
    border-radius: 20px;
    background: #F2F2F2;
    margin: 0;
    padding: 40px 40px 0 40px;
}

.right h1 {
    margin-bottom: 26px;
}

.card-populaire {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
}
.grid-populaire {
    display: grid;
     gap: 33px;
    grid-template-rows: 144px 144px 144px;
  
}

.card-image-populaire {
    width: 137px;
    height: 134px;
    margin-right: 20px;
}

.card-image-populaire img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    border: 5px solid #FFFFFF;

}

.card-info-populaire-bloc {
    width: 170px;
}

.card-info-populaire {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right h2 {
    padding-bottom: 7px;
}

/* LEFT AND RIGHT GENERAL */
.card-star {
    color: #0065FC;
}

.card-star-grey {
    color: #F2F2F2;
}

.euro-bold {
    font-weight: bold
}

.card-star,
.card-star-grey {
    width: 14px;
}