body {
    width: 1400px;
    margin: auto;
    font-family: 'Raleway', Arial, 'Trebuchet MS', sans-serif;
}
* {
    margin: 0;
}

/* Balise générique */
main,
footer {
    margin-left: 50px; 
}
h1, h2 {
    font-size: 22px;
}
.form-filtre h2,
footer h2,
.afficher-plus {
    font-size: 1.1em;
}
 a {
    color: black;
    text-decoration: none;
 }
.card-info p,
.card-info-populaire-bloc p {
    font-size: 14px;
}
header, 
.margin-bottom-left {
    margin-left: 55px;
}
.card-info h3,
.card-info-populaire-bloc h3,
.grid-activite h3 {
    font-size: 16px;
}

/* HEADER */
header img {
    width: 61px;
    height: 19px;
    margin-top: 44px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 89px;
}
/* Navigation */
header nav ul {
    display: flex;
    list-style-type: none;
}
header nav a {
    padding-top: 42px;
}
header nav li {
    margin-right: 77px; 
}
header nav a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    font-weight: 500;
}
.margin-bottom-left {
    margin-bottom: 32px;
}
.margin-bottom-left p{
    margin-top: 8px;
    margin-bottom: 20px;
}

/* Recherche */
.search {
    display: flex;
    position: relative;
    width: 34.36%;
}
.search input[type="submit"] {
    background: #0065FC;
    color: white;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    width: 132px;
    height: 52.50px;
    position: absolute;
    right: 46px;
    font-size: 18px;
    font-weight: 700;   
    font-family: 'Raleway', Arial, 'Trebuchet MS', sans-serif;
}
 .position-search input {
    width: 279px;
    height: 49px;
    border-radius: 15px 0 0 15px;
    background-color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #F2F2F2;
    outline: none;
 }
 ::placeholder {
    color: black;
    opacity: 1;
    font-family: 'Raleway', Arial, 'Trebuchet MS', sans-serif;
 }
 *:focus::-webkit-input-placeholder {
    opacity: 0;
}
*:focus::-moz-placeholder {
    opacity: 0;
}
.icons-position-search{
    border: 1px solid #F2F2F2;
    background: #F2F2F2;
    padding: 16px 18px 19px 18px;
    border-radius: 15px 0 0 15px;
    position: absolute;
}

/* Filters (form-filters) */
.form-filtre {
    display: flex;
    margin-left: 62px;
    margin-bottom: 35px;
}
.form-filtre h2, 
.form-filtre button {
    margin-right: 39px;
}
.form-filtre h2 {
    align-self: center;
}
button {
    padding: 4px 20px;
    font-weight: 700;
    font-size: 17px;
    font-family: 'Raleway', Arial, 'Trebuchet MS', sans-serif;
    border-radius: 25px;
    border: 2px solid #D9D9D9;
    background: white;
    height: 48px;
}
.button {
    display: flex;
}
.button i {
    color: #0065FC;
    margin-right: 10px;
}
button:hover {
    background: #DEEBFF;
}
/* Info logement */
.info-logement {
    display: flex;
    margin-left: 59px;
    margin-bottom: 39px;
}
.icons-info {
    color: white;
    background: #0065FC;
    border: 1px solid #D9D9D9;
    border-radius: 50%;
    margin-right: 11px;
}

/* MAIN */
.left-right {
    display: flex;
    margin-bottom: 60px;
}

/* LEFT */
.left {
    border-radius: 20px;
    background: #F2F2F2;
    width: 59.10%; 
    padding: 40px;
    margin-right: 40px;
}

.left h2 {
    margin-bottom: 23px;
}
.afficher-plus {
    margin-top: 40px;
    width: max-content;
}

.grid-1 {
   margin-bottom: 30px;
}
.card {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}
.card-info {
    padding: 9px 0 11px 16px; 
}
.card-info h3,
.card-info p {
    margin-top: 3px;
}
.grid-1, .grid-2 {
    display: grid;
    grid-template-columns: 246px 246px 246px;
    gap: 30px;   
}
.card-image {
    width: 236px;
    height: 124px;   
}
.card-image img {
    width: 100%;
    height: 124px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    border: 5px solid #FFFFFF;
}

/* RIGHT */
.right {
    border-radius: 20px;
    background: #F2F2F2;
    width: 25.50%;  
    padding: 40px;
}
.card-populaire {
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}
.grid-populaire {
    display: grid;
    gap: 33px;
    grid-template-rows: 144px 144px 144px;
}
.card-image-populaire {
    width: 137px;
    height: 134px;
    margin-right: 20px;
}
.card-image-populaire img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
    border: 5px solid #FFFFFF;
}
.card-info-populaire-bloc {
    width: 170px;
    height: 60px;
    border: 1px solid blue;
}
.card-info-populaire {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.right h3 {
    padding-bottom: 7px;
}
.icon-populaire {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 26px;
}
.icon-chart-populaire {
    color: #0065FC;
    font-size: 18px;
}
/* LEFT AND RIGHT GENERAL */
.card-star {
    color: #0065FC;
}
.card-star-grey {
    color: #F2F2F2;
}
.euro-bold {
    font-weight: bold
}
.card-star,
.card-star-grey {
   font-size: 12px;
}

/* Activite */
.activites {
    margin-bottom: 60px;
}
.activites h2 {
    margin-bottom: 19px;
}
.grid-activite {
    display: grid;
    grid-template-columns: 302px 302px 302px 302px;
    gap: 43px;
}
.card-image-activite {
    width: 302px;
    height: 389px;
}
.card-image-activite img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.grid-activite h3 {
   margin: 20px;
}
.card-activite {
    background: white;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
    border-radius:  20px;
    display: flex;
    flex-direction: column;
}

/* FOOTER */
footer {
    display: flex;
    padding: 45px 0 0 70px;
    background: #F2F2F2;
    height: 200px;
}
footer div {
    margin-right: 230px;
}
footer h2 {
    margin-bottom: 20px;
}
footer nav ul {
    padding: 0;
    list-style-type: none;
    width: max-content;
}
footer nav li {
    margin-bottom: 12px;
}

/* MEDIA QUERY TABLETTE */
@media screen and (min-width: 768px) and (max-width : 991px) {
 body {
    width: 991px;
    margin: auto;
 }
    .margin-bottom-left p {
        margin-top: 13px;
    }
    main, 
    footer {
        margin-left: 0;
        border: 1px solid blue;
    }
    header,
    .margin-bottom-left,
    .form-filtre,
    main,
    .info-logement,
    footer {
        margin-left: 72px;
    }

    /* Filters (form-filters) */
    .form-filtre {
        margin-bottom: 38px;
    }
    .form-filtre h2 {
        margin-right: 17px;
    }
    .form-filtre button {
        margin-right: 22px;
    }
   
    /* MAIN */
    .left-right {
        display: flex;
        flex-direction: column; 
        margin-right: 0;
    }
    
    /* LEFT */
    .left {
        width: 87%;
        margin-right: 0;
        border: 1px solid red;
        margin-bottom: 53px;
    }
    .grid-1 {
        border: 1px solid red;
    }
    /* RIGHT */
    .right {
      width: 87.50%;
      
      border: 1px solid red;
    }
    .grid-populaire {
        display: grid;
        grid-template-columns: 252px 252px 252px;
        grid-template-rows: none;
        gap: 23px;
    }
    .card-populaire {
        height: 144px;
    }
    .card-image-populaire {
        height: 134px;
        width: 96px;
        margin-right: 15px;
    }
    
     .card-info-populaire-bloc h3 {
        font-size: 14px;
    }
    .card-info-populaire-bloc p {
        font-size: 13px;
    }
    .card-info-populaire-bloc {
        width: 130px;
        height: 69px;
    }
   
    .activites, 
    footer {
        display: none;
    }

}

/* MEDIA QUERY MOBILE */
@media screen and (max-width: 767px) {
   body {

   }
  *{
    margin: 0;
  }
    header {
        flex-direction: column;
        align-items: center;
    }
    header img {
        margin-top: 21px;
        margin-bottom: 48px;
    }
    header nav li:hover {
        border-top-style: none;
        border-bottom: 3px solid #0065FC;
    }
    header nav li {
        border-bottom: 3px solid #F2F2F2;
        padding-bottom: 23px;
        margin-right: 0;
       width: 188px;
       text-align: center;
    }
    header nav ul {
        display: flex;
        flex-direction: row;
    }
    header nav li {
       margin-right: 0;
       width: 187px;
       text-align: center;
    }
    header nav a:hover {
        border-top-style: none;
    }
    header {
    margin-left: 0;
    }
    .margin-bottom-left {
        margin-left: 20px;
    }
    
}
